.dashboard__main__header__right__toggle {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.7em 1em;
  background-color: #f1f2f6;
  position: relative;
  border-radius: 8px;
}
.dashboard__main__header__right__toggle::after {
  content: "";
  //   background-color: #161f28;
  width: 75%;
  height: 90%;
  border-radius: 8px;
  left: 0.4em;
  position: absolute;
  transition: 0.3s ease all;
}
.dashboard__main__header__right__toggle.active::after {
  left: calc(48%);
}
.dashboard__main__header__right__toggle:is(:not(.active)) button:first-child {
  color: rgb(8, 8, 8) !important;
}
.dashboard__main__header__right__toggle:is(.active) button:last-child {
  color: rgb(14, 13, 13) !important;
}
.dashboard__main__header__right__toggle button {
  border: none;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  background-color: transparent;
  z-index: 1;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  //   background-color: var(--dark);
  font-weight: bold;
}
.dashboard {
  display: flex;
  //   gap: 1.5em;
  height: 100vh;
  background-color: #f7f8fb;
}
.dashboard__sidebar__logo__img {
  object-fit: contain;
}
.dashboard__main__header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1em;
  padding: 1em 3em;
  gap: 1em;
  background-color: var(--white);
}
.dashboard__main__header__right {
  display: flex;
  align-items: center;
  gap: 1em;
}
.dashboard__sidebar__warper {
  width: fit-content;
  height: 100vh;
  padding: 20px;
  position: relative;
}
.dashboard__sidebar__warper__bg {
  padding: 2em 0;
  background-color: var(--white);
  position: absolute;
  height: 70px;
  top: 0;
  left: 0;
  width: 100%;
}
.dashboard__sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: var(--white);
  height: 100%;
  border-radius: 25px;

  position: relative;
  padding: 1.5em 0;
  align-items: center;
  gap: 1em;
  background-color: #161f28;
}

.dashboard__main {
  flex: 1;
}
.dashboard__sidebar__content {
  flex: 1;
  overflow-y: auto;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5em;
}

.dashboard__sidebar__content__entry {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.9em 3em;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--white);
  font-size: 1em;
  transition: 300ms ease-in-out;
}
.dashboard__sidebar__content__entry svg {
  width: 1.2em;
  height: 1.2em;
}

.dashboard__sidebar__content__entry:hover {
  background-color: rgba(255, 255, 255, 0.144);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: var(--primary);
  transition: 300ms ease-in-out;
}
.dashboard__sidebar__content__entry.active {
  background-color: var(--primary); /* Example active state */
  font-weight: bold;
}
.dashboard__main__content {
  height: calc(100vh - 115px);
  // padding: 0 1.5em;
  padding-right: 1em;
}
.date__range__wrapper {
  display: flex;
  position: relative;
}
.date__range__wrapper__text {
  display: flex;
  background-color: var(--white);
  border-radius: 8px;
  padding: 1em 1em;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.116);
  color: var(--black);
  gap: 0.5em;
  font-size: 1em;
  align-items: center;
}
.date__range__wrapper__text:hover {
  border: 1px solid var(--primary);
}
[data-theme="dark"] {
  .date__range__wrapper__text {
    background-color: #424242;
  }
}
.date__range__wrapper__calender {
  overflow: hidden;
  position: absolute;
  top: 50px;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  animation: date__range__wrapper__calender 0.3s ease-in-out;
  transform-origin: top;
  z-index: 999;
  right: 0;
}
@keyframes date__range__wrapper__calender {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.page__header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page__header__container__heading {
  font-size: 1.7rem;
  font-weight: 500;
}
.page__header__container__col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
.filter__col {
  padding: 0.6em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.171);
  cursor: pointer;
  transition: 300ms ease-in-out;
}
.filter__col:hover {
  border: 1px solid var(--primary);
  transition: 300ms ease-in-out;
}
.filter__col__svg svg {
  color: var(--primary);
}
.notification__button {
  padding: 0.5em 0.8em;
  background-color: #f1f2f6;
  color: var(--white);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.dashboard__main__header__right__notifications {
  position: relative;
}
.user__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  border-left: 1px solid rgba(0, 0, 0, 0.212);
  padding: 0 1em;
}
.user__container__avatar {
  background-color: #bfa674;
  border-radius: 80px;
  width: 50px;
  height: 50px;
}
.user__container__avatar__img {
  width: 50px;
  height: 50px;
  padding: 0.6em;
}
.user__container__title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.user__container__name {
  font-size: 1rem;
  font-weight: 600;
}
.user__container__role {
  color: #73797e;
  font-size: 0.9rem;
  transition: 300ms ease-in-out;
}
.user__container__svg svg:hover {
  cursor: pointer;
  color: var(--primary);
  transition: 300ms ease-in-out;
}
.export__btn {
  background: var(
    --Accent-gold-default,
    linear-gradient(87deg, #9d6323 4.53%, #ffb73c 143.09%)
  );
  border-radius: 12px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  padding: 0.5em 1em;
  transition: 300ms ease-in-out;
  cursor: pointer;
}
.export__btn:hover {
  background: var(--black);
  transition: 300ms ease-in-out;
}
.main__cards__container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1.5em;
  gap: 1em;
}
// .main__cards__container__col {
//   flex: 1;
// }
.card__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  padding: 1em;
  background-color: var(--white);
  border-radius: 10px;
  border-radius: var(--radius-4xl, 24px);
  background: var(
    --gradient-dark-blue,
    linear-gradient(126deg, #4384b3 3.09%, #1e3545 100%)
  );

  color: var(--white);
  min-width: 350px;
}
.card__left__header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1em;
  padding: 0.5em 1em;
  flex-direction: column;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 1px solid rgba(255, 255, 255, 0.13);
}
.card__left__header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-weight: 400;
}
.card__left__header__title__heading {
  font-size: 0.8rem;
}
.card__left__header__num {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.card__left__header__num__plot {
  font-size: 2rem;
  font-weight: 500;
}
.card__left__header__num__value {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  font-size: 0.8rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.658);
}
.card__left__header__num__value span {
  padding: 0.4em;
  border-radius: var(--radius-xs, 4px);
  border: 0.6px solid var(--System-success-surface, rgba(5, 193, 104, 0.1));
  background: var(--System-success-surface, rgba(5, 193, 104, 0.1));
}
.card__left__header__entry__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  padding: 0.5em 0;
  padding-bottom: 1.5em;
}
.card__left__header__entry__col {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1em;
}
.card__left__header__entry__col__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.589);
}
.card__left__header__entry__col__title svg {
  cursor: pointer;
}
.card__left__header__entry__col__num {
  font-size: 1.2rem;
  font-weight: 500;
}
.main__card__right {
  flex: 1 1 250px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;
}
.main__card__right__card {
  flex: 1 1 305px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  flex-direction: column;
  background-color: var(--white);
  padding: 1em;
  border-radius: 12px;
}
.main__card__right__card__header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1em;
}
.main__card__right__card__header__title {
  font-size: 1.5rem;
  font-weight: 600;
}
.main__card__right__card__header__subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.562);
}
.main__right__card__text__warper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.main__right__card__text__warper__col {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
}
.main__right__card__text__warper__col__svg {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--offWhite);
  cursor: pointer;
}
.main__right__card__text__warper__col__text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5em;
}
.main__right__card__text__warper__col__text__title {
  font-size: 1rem;
  font-weight: 400;
  color: #0000008f;
}
.main__right__card__text__warper__col__text__subtitle {
  font-size: 1.2rem;
  font-weight: 600;
}
@media (max-width: 1350px) {
  .main__cards__container {
    flex-direction: column;
  }
  .card__left {
    width: 100%;
    flex: 0 1 auto;
  }
}
